# Editors
.idea/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/
__pycache__/

# pytest
.cache/

# Module trash
*.egg-info

# Notebooks
devel.ipynb
.ipynb_checkpoints

# build artifacts
results/
