[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
pytest = "*"

[packages]
streamlit = "*"
pandas = "*"
numpy = "*"
altair = "*"
dash = "*"
dash-bootstrap-components = "*"
gunicorn = "*"
PyYAML = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
