/*
-------------------------------------------------------------
	Use this file to add generic styling to the app
---------------------------------------------------------
*/

body {
	font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, sans-serif;
}

a.btn {
	margin-right: 40px;
	float: right;
}

